name: pixel_scan_test
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  cunning_document_scanner: ^1.2.3
  pro_image_editor: ^8.2.0
  purchases_flutter: ^7.0.2
  go_router: ^14.6.1
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true
